.my_button {
    margin-top: 20px;
}

.my_button{
    height: 33px;
    width: 100px;
    color: #636363;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
}

.my_button:hover {
    border: 1px solid #c3c3c3;
    background-color: #f1f1f1;
}