.Menu{
    margin-top: 10px;
    width: 100vw;
    height: 43px;
    border-bottom: 1px solid rgba(216, 65, 47, 0.4) ;
}

.menu__buttons {
    height: 33px;
    width: 100px;
    color: #636363;
    font-weight: bold;
    border: 1px solid #f5ca99;
    background-color: #fcfdfe;
    vertical-align: top;
}

.menu__buttons:hover {
    border: 1px solid #d8412f;
    background-color: #d8412f;
    color: #fcfdfe;
}

.menu__buttons:disabled {
    border: 1px solid #805a3b;;
    background-color: #f1f1f1;
    color: #9a9a9a;
}