.Menu{
    margin-top: 10px;
    width: 100vw;
    height: 43px;
    border-bottom: 1px solid rgba(90, 116, 148, 0.4) ;
}

.menu__buttons {
    height: 33px;
    width: 100px;
    color: #636363;
    font-weight: bold;
    border: 1px solid #805a3b;
    background-color: #FEF2e4;
    vertical-align: top;
}

.menu__buttons:hover {
    border: 1px solid #fd974f;
    background-color: #fcd9b0;
}

.menu__buttons:disabled {
    border: 1px solid #805a3b;;
    background-color: #f1f1f1;
    color: #9a9a9a;
}