.addSelected__label,
.addSelected__select {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addSelected__label{
    color: #636363;
    font-style: italic;
    text-align: left;
}

.addSelected__select{
    border: solid 1px #f1f1f1;
    height: 33px;
    font-size: 18px;
    text-indent: 10px;
    width:  calc(100% - 38px);;
    float: left;

}

.addSelected__btn{
    background: none;
    width: 33px;
    height: 33px;
    font-size: 33px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
    border: none;
}

.addSelected__btn:hover{
    background: #f1f1f1; 
}