.All__body {
    margin-top: 20px;
}

.All__body a {
    margin-left: 2px;
    margin-right: 2px;
}

.All__body__links,
.All__body__search {
    margin-bottom: 10px;
    margin-left: 2em;
    margin-right: 2em;
}

.All__body__input{
    border: solid 1px #f1f1f1;
    height: 33px;
    font-size: 18px;
    text-indent: 10px;
    width: 100%;

}
