.accordion{height: 100%;
width: 100%;}
h2.accordion__h2{
    color: #D8412F;
}

.errorText{
    color: #F2F2e4;
    font-size: 24px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    h2.accordion__h2{
      font-size: large;
    }
  
    }