.accordion{height: 100%;}
h2.accordion__h2{
    color: #D8412F;
}

.errorText{
    color: #F2F2e4;
    font-size: 24px;
    font-weight: bold;
}

.accordion__button{
   display:flex;
    width: 140px;
    background: #FEF2e4;
    border: 1px solid #fd974f;
    margin-left: auto;
    margin-right: 32px;
    vertical-align: middle;
    text-align: center;
    color: #636363; 
    font-size: 16px;
    border-radius: 25px;
    margin-top: 20px;
}
.accordion__button img {
    width: 32px;
    height: 32px;
}
.accordion__button div{
    margin: auto;
}
.accordion__button:hover{
    background-color: #fcd9b0;
    border: 1px solid #fd974f;
}


@media only screen and (max-width: 600px) {
    h2.accordion__h2{
      font-size: large;
    }
  
    }