
.kebab_body{
    width: 40px;
    height: 40px;
    position: absolute;
    right:calc( 50% - 40px);
    top: 5px;
    text-align: left;
    font-size: 20px;
    color: #FEF2e4;
    font-weight: bold;
}
.kebab{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
}
.kebab span{
    width: 10px;
    height: 10px;
    background: #FEF2e4;
    position: absolute;
}
.kebab span:nth-child(1){
    top: 0;
    left: 0;
    transition: .6s;
}
.kebab span:nth-child(2){
    top: 0;
    left: 15px;
    transition: .6s;
}
.kebab span:nth-child(3){
    top: 0;
    left:30px;
    transition: .6s;
}
.kebab span:nth-child(4){
    top: 15px;
    left: 0;
    transition: .6s;
}
.kebab span:nth-child(5){
    top: 15px;
    left: 15px;
    transition: .6s;
}
.kebab span:nth-child(6){
    top: 15px;
    left:30px;
    transition: .6s;
}
.kebab span:nth-child(7){
    top: 30px;
    left: 0;
    transition: .6s;
}
.kebab span:nth-child(8){
    top: 30px;
    left: 15px;
    transition: .6s;
}
.kebab span:nth-child(9){
    top: 30px;
    left:30px;
    transition: .6s;
}
.clicked span:nth-child(1){
    transform: translate(15px,15px);
}
.clicked span:nth-child(3){
    transform: translate(-15px,15px);
}
.clicked span:nth-child(7){
    transform: translate(15px,-15px);
}
.clicked span:nth-child(9){
    transform: translate(-15px,-15px);
}
.clicked span:nth-child(2){
    transform: rotate(180deg);
}
.clicked span:nth-child(4){
    transform: rotate(180deg);
}
.clicked span:nth-child(6){
    transform: rotate(-180deg);
}
.clicked span:nth-child(8){
    transform: rotate(-180deg);
}
