

.grafic__name,
.grafic__time {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.grafic__label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.grafic__a {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.grafic__a:has(button:hover) {
  background-color: #FFC48B;
  border-radius: 10px;
  padding-left: 10px;
}