.dish_control{
    float: right;
    width: 80px;
    display: inline;
    align-items:center;
}
.dish_control__btn{
    height: 25px;
    width: 25px;
   margin-left: 5px;
   margin-right: 5px;
   background: none;
   border: none;
}
.dish_control__btn img{
    height: 23px;
    width: 23px;
}

.dish_control__btn:hover{
    box-shadow: 2px 2px 5px #c1c1c1;
    background-color:rgba(193, 193, 193, .3);
    border-radius: 5px;
}
.dish_control__btn:active{
    border: #c1c1c1 solid 1px;
}