.shared {
    width: 100%;
    height: 100%;
}
.shared_buttons button {
    margin-top: 0px;
}

.shared_buttons {
    height: 32px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: fit-content;
}

.shared__selected {
    width: (100%-40px);
    height: calc(100% - 184px);
    border: solid 1px hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 100%);
    margin: 5px;
    padding: 5px;

}

