

div.day{
  position: relative;
  margin:2em;
}
.day__input{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity:0;
  visibility: 0;  
}
 .day__h3{
  background:rgb(211, 211, 210);
  color:rgb(0, 0, 0);
  padding:1em;
  position: relative;
}
.day__label::before{
  content:"";
  display: inline-block;
  border: 10px solid transparent;
  border-left:10px solid white;
}
.day__label{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
div.day__grafic{

  max-height:0px;
  overflow: hidden;
  transition:max-height 0.5s;
  background-color: white;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
}
input.day__input:checked ~ .day__h3 .day__label::before{
  border-left:10px solid transparent;
  border-top:10px solid white;

}
input.day__input:checked ~ .day__h3 ~ div.day__grafic{
  max-height:1000px;
  padding-top: 2em;
  padding-bottom: 2em;
}