

div.week{
    position: relative;
    margin:2em;
  }
  .week__input{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:0;
    visibility: 0;
  }
   .week__h2{
    background:#805A3B;
    color:rgb(255, 255, 255);
    padding:1em;
    position: relative;
  }
  .week__label::before{
    content:"";
    display: inline-block;
    border: 10px solid transparent;
    border-left:10px solid white;
  }
  .week__name{
    margin: auto;
  }
  .week__label{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
  }
  div.week__day{
    max-height:0px;
    overflow: hidden;
    transition:max-height 0.5s;
    background-color:rgba(255, 255, 255, 0.1);
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  input.week__input:checked ~ .week__h2 .week__label::before{
    border-left:10px solid transparent;
    border-top:10px solid white;
  }
  input.week__input:checked ~ .week__h2 ~ div.week__day{
    max-height:100%;
  }