
.shared_user{
    vertical-align: middle;
    height: 30px;
    margin-left: 10px;
}

.shared_user div{
    float: left;
    width: 400px;
}
.shared_user img, .shared_user button{
    width: 25px;
    height: 25px;
}

.shared_user button:hover{
    width: 25px;
    height: 25px;
}