.archive{
    margin-top: 15px;
    background-color: rgba(252, 253, 254, 0.8);
    border-left: 15px solid #d8412f;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    .arch_table.description, .arch_table.date {
    width: 0px;
    display: none;
 }
 .arch_table.name{
    width: 100%;
 }
  
    }